---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// const object = {
//   type: "tato",
//   name: "Dima",
// };

// const array = ['lang', 123]

// const [langer, num] = array

// const {type, name} = object

// console.log(langer, num);
// array[1] // диструктуризація - це коли ти витягуєш значення з масиву або обʼєкту

---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))
  }
  <li class="text-red-500 ml-4">
    <a href={`/${lang}/home/`}>
      {t("nav.home")}
    </a>
  </li>
  <li>
    <a href={`/${lang}/about/`}>
      {t("nav.about")}
    </a>
  </li>
  <li>
    <a href="https://twitter.com/astrodotbuild">
      {t("nav.twitter")}
    </a>
  </li>
</ul>
