---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { languages } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li>
        <a href={`/${lang}/`}>{label}</a>
      </li>
    ))
  }
  <li>
    <a href={`/${lang}/home/`}>
      {t("nav.home")}
    </a>
  </li>
  <li>
    <a href={`/${lang}/about/`}>
      {t("nav.about")}
    </a>
  </li>
  <li>
    <a href="https://twitter.com/astrodotbuild">
      {t("nav.twitter")}
    </a>
  </li>
</ul>
