---
import Layout from "../../layouts/LayoutUa.astro";
import Nav from "../../components/Nav.astro";
// import "../../styles/global.css";
---

<Layout>
  <Nav />
  <h1 class="text-3xl font-normal">Привіт</h1>
</Layout>
