---
import { getLangFromUrl } from "../i18n/utils";
import '../styles/global.scss';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta
      name="description"
      content="With Food Boutique, you're not just subscribing to food, you're
  signing up for a fresher, fitter, and happier you."
    />
    <title>Food Boutique</title>
  </head>
  <body>
    <slot />
  </body>
</html>
